<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Repositório Universitário - BSI UNIRIO</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body id="body-login">
<div id="conteudo-pagina-login">
    <div id="apresentacao">
        <div id="titulo">
            <h2>Bem vindo(a)!</h2>
        </div>
    </div>
    <div id="login">
        <div id="logo-login">
            <img th:src="@{/fotos/bsi-logo.png}" alt="Logo do BSI UNIRIO" />
            <h1>
                <span class="linha1">REPOSITÓRIO</span>
                <span class="linha2">UNIVERSITÁRIO</span>
            </h1>
        </div>
        <div id="form-login">
            <h2>Login</h2>
            <a href="http://localhost:8080/oauth2/authorization/google">login</a>
            <p>Realize o login utilizando seu e-mail institucional da UNIRIO.</p>
            <p id="espaco">Qualquer outro e-mail usado não será aceito.</p>
            <fieldset><legend>ou</legend></fieldset>
            <div id="link">
                <a href="/visitante">Continue como visitante</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>