<body>
  <main>
    <section id="left-section">
      <span>Bem-vindo(a)!</span>
    </section>
    <section id="right-section">
      <img src="svg/logo.png" alt="BSI Repositório Universitário"/>
      <h1>Login</h1>
      <div id="area-login">
        <button></button>
        <span>Realize o login utilizando seu e-mail institucional da UNIRIO</span>
        <span>Qualquer outro e-mail usado não será aceito</span>
        <div id="divider">
          <div></div>
          <span>ou</span>
          <div></div>
        </div>
        <a>Continue como visitante</a>
      </div>
    </section>
  </main>
</body>
